{% set _locale = app.request.get('_locale') %}

<!DOCTYPE html>
<html lang="{{ _locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Coloration de la barre de navigation sur mobile -->
    <meta name="theme-color" content="#2b3e50"/>
    <title>{% block title %}{{ 'homepage.title'|trans({}, 'base') }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/bootstrap.min.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('louvre.ico') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/mobile.css') }}">
        <link rel="application/x-font-ttf" href="{{ asset('fonts/glyphicons-halflings-regular.ttf') }}">
        <link rel="application/x-font-ttf" href="{{ asset('fonts/glyphicons-halflings-regular.woff') }}">
        <link rel="application/x-font-ttf" href="{{ asset('fonts/glyphicons-halflings-regular.woff2') }}">
    {% endblock %}
    {% block IECompatibility %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
    <!-- Google analytics Code
        Client Tracking ID needed
     -->
</head>
<body>
<div id="fb-root"></div>
<div class="container wrapper-page">
    {% block header %}
        <header>
            <section class="row row-offcanvas row-offcanvas-left">
                <p class="pull-left visible-xs">
                    <button type="button" id="btnTextXS" class="btn btn-primary btn-md" data-toggle="offcanvas">Menu</button>
                </p>
                <div class="navbar-header">
                    <a href="http://www.louvre.fr"><img src="{{ asset('img/logo.png') }}" id="image-logo" alt="Musée du Louvre" /></a>
                    <div class="col-md-12 pull-right">
                        {% if _locale == 'fr' %}
                        <a href="{{ path('app_homepage', {'_locale' : 'en'}) }}"><img src="{{ asset('img/GB.png') }}" alt="English language"/></a>
                        {% else %}
                        <a href="{{ path('app_homepage', {'_locale' : 'fr'}) }}"><img src="{{ asset('img/FR.png') }}" alt="French language"/></a>
                        {% endif %}
                    </div>
                </div>
                <nav class="navbar navbar-default col-md-12 col-sm-12 sidebar-offcanvas">
                    <ul id="listMenu" class="nav navbar-nav">
                        <li class="active"><a href="{{ path('app_homepage', {'_locale' : _locale }) }}">{{ 'homepage.menu.home'|trans({}, 'base') }}</a></li>
                        <li><a data-toggle="modal" href="#horairesInfos">{{ 'homepage.menu.hours'|trans({}, 'base') }}</a></li>
                        <li><a data-toggle="modal" href="#tarifsInfos">{{ 'homepage.menu.prices'|trans({}, 'base') }}</a></li>
                    </ul>
                </nav>
            </section>
            <section class="row">
                <div class="col-md-12 image-header">
                </div>
            </section>
            <!-- Modals -->
            <div id="horairesInfos" class="modal fade" role="dialog" aria-labelledby="titleLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="titleHoraires">{{ 'homepage.modals.hours.title'|trans({}, 'base') }}</h4>
                            <h5><strong>{{ 'homepage.modals.hours.subtitle'|trans({}, 'base') }}</strong></h5>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'homepage.modals.hours.opening_closing'|trans({}, 'base') }}</p>
                            <p>{{ 'homepage.modals.hours.tickets_type'|trans({}, 'base') }}</p>
                            <p style="color:red;"><strong>{{ 'homepage.modals.hours.holidays'|trans({}, 'base')|trim('"') }}</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tarifsInfos" class="modal fade" role="dialog" aria-labelledby="titleTarifs">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="titleTarifs">{{ 'homepage.modals.rates.title'|trans({}, 'base') }}</h4>
                            <h5><strong>{{ 'homepage.modals.rates.subtitle'|trans({}, 'base') }}</strong></h5>
                        </div>
                        <div class="modal-body">
                            <p><em>{{ 'homepage.modals.rates.demi_journee'|trans({}, 'base') }}</em></p>
                            <p>{{ 'homepage.modals.rates.intro'|trans({}, 'base') }}
                                <ul>
                                    <li>{{ 'homepage.modals.rates.tarif_gratuit'|trans({}, 'base') }}</li>
                                    <li>{{ 'homepage.modals.rates.tarif_enfant'|trans({}, 'base') }}</li>
                                    <li>{{ 'homepage.modals.rates.tarif_normal'|trans({}, 'base') }}</li>
                                    <li>{{ 'homepage.modals.rates.tarif_senior'|trans({}, 'base') }}</li>
                                    <li>{{ 'homepage.modals.rates.tarif_reduit'|trans({}, 'base') }}</li>
                            </ul>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
        <footer class="row">
            <div class="col-md-12 col-xs-12  payments">
                <div class="row">
                    <p style="color:#000;"><strong>{{ 'homepage.footer.payment_info'|trans({}, 'base') }}</strong>
                        <img src="{{ asset('img/mastercard.gif') }}" alt="Mastercard" class="payment-method"/>
                        <img src="{{ asset('img/visa.gif') }}" alt="Visa" class="payment-method"/>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <p class="small">
                        <a href="mailto:billetterie@louvre.fr" id="footer-contact" title="{{ 'homepage.footer.links.contact'|trans({}, 'base') }}">{{ 'homepage.footer.links.contact'|trans({}, 'base') }}</a> -
                        <a href="{{ path('app_cgv', {'_locale' : _locale}) }}" title="{{ 'homepage.footer.links.cgv'|trans({}, 'base') }}"> {{ 'homepage.footer.links.cgv'|trans({}, 'base') }}</a>
                    </p>
                </div>
                <div class="col-md-4 text-center hidden-xs hidden-sm">
                    <div class="fb-share-button" data-href="http://www.ticketlouvre.fr" data-layout="button"
                         data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" target="_blank"
                           href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.ticketlouvre.fr%2F&amp;src=sdkpreparse"></a>
                    </div>
                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
                </div>
                <div class="visible-xs visible-sm col-sm-2 text-center" style="margin-top:5px; position:relative; left:-8%;">
                    <div class="fb-share-button" data-href="http://www.ticketlouvre.fr" data-layout="button"
                         data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" target="_blank"
                           href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.ticketlouvre.fr%2F&amp;src=sdkpreparse"></a>
                    </div>
                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>

                </div>
                <div class="col-md-4">
                    <span class="small pull-right hidden-xs" id="copyright">{{ 'homepage.footer.copyright'|trans({}, 'base') }}</span>
                </div>
                <div class="col-md-12 text-center">
                    <p class="small visible-xs" style="position:relative; left:-2%;">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ 'homepage.footer.links.phone_title'|trans({}, 'base') }} {{ 'homepage.footer.links.phone'|trans({}, 'base')}}
                    </p>
                    <p class="small pull-right hidden-xs">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ 'homepage.footer.links.phone_title'|trans({}, 'base') }} {{ 'homepage.footer.links.phone'|trans({}, 'base')}}
                    </p>
                    <span class="small visible-xs" id="copyright" aria-hidden="true">{{ 'homepage.footer.copyright'|trans({}, 'base') }}&nbsp;</span>
                </div>
            </div>
        </footer>
    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('vendor/jQuery/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/modal.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
