{% extends 'base.html.twig' %}

{% block title %}
    Billets de votre commande
{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-md-12">
            <div class="row jumbotron">
                <h1>Billets à compléter</h1>
            </div>
            <div class="alert alert-info">
                <span class="label label-default"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Information</span>
                <p>Le tarif réduit est un tarif accordé aux personnes ayant un statut particulier (étudiant, militaires, employés de musée...)<br/>
                Il sera nécessaire de produire un justificatif de situation, afin de pouvoir en bénéficier sur place.</p>
            </div>
            {{ form_start(commande) }}
            {% for billets in commande.billets %}
                <label>Billet n° {{ loop.index }}</label>
                {{ form_row(billets.nom) }}
                {{ form_row(billets.prenom) }}
                {{ form_row(billets.pays) }}
                {{ form_row(billets.dateNaissance) }}
                {{ form_row(billets.isTarifReduit) }}
            {% endfor %}
            <div class="text-center bottom-links">
                <button type="submit" class="btn btn-success" formnovalidate><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Valider</button>
            </div>
            {{ form_end(commande) }}
        </div>
    </section>
{% endblock %}