{% extends 'base.html.twig' %}

{% block title %}
    Billets de votre commande
{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-md-12">
            <div class="row">
                <h1>Billets à compléter</h1>
                {{ form_start(commande) }}
                {% for billets in commande.billets %}
                    <label>Billet n° {{ loop.index }}</label>
                    {{ form_row(billets.nom) }}
                    {{ form_row(billets.prenom) }}
                    {{ form_row(billets.pays) }}
                    {{ form_row(billets.dateNaissance) }}
                    {{ form_row(billets.isTarifReduit) }}
                {% endfor %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" formnovalidate>Valider</button>
                    {# Supprime la commande lors du clic #}
                    <a href="/delete/{{ id }}" id="delete_billets">
                        <button type="button" class="btn btn-primary" formnovalidate>Page précédente</button>
                    </a>
                </div>
                {{ form_end(commande) }}
            </div>
        </div>
    </section>
{% endblock %}