{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jQuery/jquery-ui.min.css') }}">
{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-md-12">
            <div class="row jumbotron">
                <h1>Commander son billet en ligne</h1>
            </div>
            {{ form_start(commande) }}
            {{ form_row(commande.typeBillet, {'label' : 'Choix du billet'}) }}
            {{ form_row(commande.dateVisite, {'label' : 'Date de votre visite'}) }}
            {{ form_row(commande.emailVisiteur) }}
            {{ form_row(commande.nbBillets, {'label' : 'Quantité de billets souhaitée'}) }}

            <div class="text-center bottom-links">
                <button type="submit" class="btn btn-success" formnovalidate><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Valider</button>
            </div>
            {{ form_end(commande) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/jQuery/jquery-ui.min.js') }}"></script>
{% endblock %}