{% extends 'base.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-md-12">
            <div class="row">
                <h1>Commander son billet en ligne</h1>
                {% for erreur in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">
                        {{ erreur }}
                    </div>
                {% endfor %}
                {{ form_start(commande) }}
                {{ form_errors(commande) }}
                {{ form_row(commande.typeBillet, {'label' : 'Choix du billet'}) }}
                {{ form_row(commande.dateVisite, {'label' : 'Date de votre visite'}) }}

                {{ form_row(commande.emailVisiteur, {'label' : 'Votre email'}) }}

                {{ form_row(commande.secondEmail, {'label' : 'Retapez votre email'}) }}

                {{ form_row(commande.nbBillets, {'label' : 'Quantité de billets souhaitée'}) }}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" formnovalidate>Valider</button>
                </div>
                {{ form_end(commande) }}
            </div>
        </div>
    </section>
{% endblock %}