{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jQuery/jquery-ui.min.css') }}">
{% endblock %}

{% block content %}
    <section class="row">
        <div class="col-md-12">
            <div class="row jumbotron">
                <h1>{{ 'header_title.value'|trans({}, 'commande') }}</h1>
            </div>
            {{ form_start(commande) }}
            {{ form_row(commande.typeBillet) }}
            {{ form_row(commande.dateVisite) }}
            {{ form_row(commande.emailVisiteur) }}
            {{ form_row(commande.nbBillets) }}

            <div class="text-center bottom-links">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"
                                                                                   aria-hidden="true"></span> {{ 'submit_button.value'|trans({}, 'commande') }}
                </button>
            </div>
            {{ form_end(commande) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src=" {{ asset('js/form.js') }}"></script>
    <script src="{{ asset('vendor/jQuery/jquery-ui.min.js') }}"></script>
{% endblock %}
