{% extends 'base.html.twig' %}

{% block title %}
{{ 'header.title'|trans({}, 'paiement') }}
{% endblock %}

{% block content %}
<section class="row">
    <div class="col-md-12">
        <div class="row jumbotron">
            <h1>{{ 'content.title'|trans({}, 'paiement') }}</h1>
        </div>
        <form action="" method="POST" id="payment-form" style="position:relative; left:8%;">
            {{ form_start(paiement) }}
            <div class="col-xs-10 col-sm-6 col-sm-offset-2">
                <div class="alert alert-danger payment-errors hidden"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>&nbsp;</div>
            </div>

            <div class="col-xs-10 col-sm-6 col-sm-offset-2">
                <div class="alert alert-danger {{ error ? '' : 'hidden' }}"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> {{ error }}</div>
            </div>

            <div class="col-xs-10 col-sm-6 col-sm-offset-2 form-group">
                     <i class="glyphicon glyphicon-credit-card" aria-hidden="true"></i>
                    {{ form_label(paiement.ccNumber) }}
                    {{ form_widget(paiement.ccNumber) }}
            </div>

            <div class="col-xs-10 col-sm-3 col-sm-offset-2 form-group">
                <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                    {{ form_label(paiement.ccExp) }}
                    {{ form_widget(paiement.ccExp) }}
            </div>

            <div class="col-xs-10 col-sm-3 form-group">
                <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
                    {{ form_label(paiement.ccCVV) }}
                    {{ form_widget(paiement.ccCVV) }}
            </div>

            <div class="col-xs-10 col-sm-6 col-sm-offset-2 text-center bottom-links">
                <button type="submit" class="js-submit-button btn btn-success">
                    <i class="glyphicon glyphicon-ok-circle" aria-hidden="true"></i>
                    {{ 'content.submit_button'|trans({}, 'paiement') }}
                </button>
            </div>
            {{ form_end(paiement) }}
        </form>
    </div>

</section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/jQuery/jquery.payment.min.js') }}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.setPublishableKey('{{ stripe_public_key }}');
        $(function() {
            var $form = $('#payment-form');
            $form.find('.js-cc-number').payment('formatCardNumber');
            $form.find('.js-cc-exp').payment('formatCardExpiry');
            $form.find('.js-cc-cvc').payment('formatCardCVC');
            $form.submit(function(event) {
                event.preventDefault();
                $form.find('.js-submit-button').prop('disabled', true);
                Stripe.card.createToken($form, stripeResponseHandler);
            });
            function stripeResponseHandler(status, response) {
                if (response.error) {
                    $form.find('.payment-errors').append(response.error.message).removeClass('hidden');
                    $form.find('.js-submit-button').prop('disabled', false);
                } else { // Token was created!
                    $form.find('.payment-errors').addClass('hidden');
                    var token = response.id;
                    $form.append($('<input type="hidden" name="stripeToken">').val(token));
                    $form.get(0).submit();
                }
            }
        });
    </script>
{% endblock %}
